<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wydarzenia</title>
    <link href="../static/css/events-style.css" th:href="@{/css/events-style.css}" rel="stylesheet"/>


</head>
<body>
<div class="topnav" id="myTopnav">
    <p class="justfit"><b>JUST FIT</b></p>
</div>
<a th:href="@{/redirectToAddEvent}"><input type="button" class="addbutton" value="Dodaj Wydarzenie"></a>

<div class="wrapper">
    <div class="goalsdiv">
        <table>
            <tr>
                <th>Prowadzący</th>
                <th>Wydarzenie</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th>Liczba uczestników</th>
            </tr>
            <tr th:each="event: ${eventList}">
                <td th:text="${hashMap.get(event.workerId)}" />
                <td th:text="${event.eventName}" />
                <td th:text="${event.eventStartDate}" />
                <td th:text="${event.eventEndDate}" />
                <td th:text="${#lists.size(event.clientIds)}" />
                <td>
                    <a th:href="@{/events/delete/{id}(id=${event.id})}">
                        <input type="button" value="Usuń" id="delete-button" >
                    </a>
                </td>
                <td>
                    <a th:href="@{/events-edit/{id}(id=${event.id})}">
                        <input type="button" value="Edytuj" id="edit-button" >
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>