<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wydarzenia</title>
    <link href="../static/css/newevent-style.css" th:href="@{/css/newevent-style.css}" rel="stylesheet"/>

</head>
<body>
<div class="wrapper">
    <div class="goalsdiv">
<form th:action="@{/editevent/{eventID}(eventID=${eventID})}"  method="post" th:object="${event}">
    <div class="title">
        <h4>EDYCJA WYDARZENIA</h4>
    </div>
    <h5>Dane pracownika</h5> <br />
    <select id="workers" th:field="*{workerId}">
        <option th:each="worker: ${workerlist}" th:text="${worker.getFirstName()} + ' ' + ${worker.getSurName()}" th:value="${worker.id}"></option>
    </select><br />
    <h5>Nazwa wydarzenia</h5> <br />
    <input type="text" id="eventname" name="eventname" th:field="*{eventName}"/> <br />
    <h5>Data i godzina rozpoczęcia</h5> <br />
    <input type="datetime-local" id="eventstart" name="eventstart" th:field="*{eventStartDate}"/> <br />
    <h5>Data i godzina zakończenia</h5> <br />
    <input type="datetime-local" id="eventsend" name="eventend" th:field="*{eventEndDate}"/> <br /><br />
    <div id="buttondiv">
    <input type="submit" value="Zatwierdź" id="edit-button" />
    <a th:href="@{/redirectToEventsAdmin}"><input type="button" id="back-button" value="Anuluj"></a>
    </div>
    </form>
    </div>
</div>
</body>
</html>