<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link href="../static/css/events-style.css" th:href="@{/css/events-style.css}" rel="stylesheet"/>


</head>
<body>
<div class="topnav" id="myTopnav">
    <p class="justfit"><b>JUST FIT</b></p>
</div>

<div class="wrapper">
    <div class="goalsdiv">
        <table>
            <tr>
                <th>Prowadzący</th>
                <th>Wydarzenie</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th>Liczba uczestników</th>
            </tr>
            <tr th:each="event: ${eventList}">
                <td th:text="${event.workerId}" />
                <td th:text="${event.eventName}" />
                <td th:text="${event.eventStartDate}" />
                <td th:text="${event.eventEndDate}" />
                <td th:text="${#lists.size(event.clientIds)}" />
                <td>
                    <a th:href="@{/events/state/{id}(id=${event.id})}">
                        <input type="button" th:value="${state}" id="state-button" >
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>