<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wydarzenia</title>
    <link href="../static/css/events-style.css" th:href="@{/css/events-style.css}" rel="stylesheet"/>


</head>
<body>
<div class="topnav" id="myTopnav">
    <p class="justfit"><b>JUST FIT</b></p>
</div>

<a th:href="@{/redirectToEventsAdmin}"><input type="button" class="addbutton" value="Panel Administratora"></a>
<h1><span>Witaj </span><span th:text="${client.getFirstName()}"></span><span>!</span> </h1>

<div class="wrapper">
    <div class="goalsdiv">
        <table>
            <tr>
                <th>Prowadzący</th>
                <th>Wydarzenie</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th>Liczba uczestników</th>
            </tr>
            <tr th:each="event: ${eventList}">
                <td th:text="${hashMap.get(event.workerId)}" />
                <td th:text="${event.eventName}" />
                <td th:text="${event.eventStartDate}" />
                <td th:text="${event.eventEndDate}" />
                <td th:text="${#lists.size(event.clientIds)}" />
                <td>
                    <a th:href="@{/events/join/{id}(id=${event.id})}">
                        <input type="button" value="Dołącz" id="join-button">
                    </a>
                </td>
                <td>
                    <a th:href="@{/events/leave/{id}(id=${event.id})}">
                        <input type="button" value="Opuść" id="left-button">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>