<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/newevent-style.css" th:href="@{/css/newevent-style.css}" rel="stylesheet"/>

</head>
<body>
<form th:action="@{/login}" method="post">
    <h5>ID pracownika</h5> <br />
    <input type="number" id="workerid" name="workerid"/> <br />
    <h5>Nazwa wydarzenia</h5> <br />
    <input type="text" id="eventname" name="eventname"/> <br />
    <h5>Data i godzina rozpoczęcia</h5> <br />
    <input type="datetime-local" id="eventstart" name="eventstart"/> <br />
    <h5>Data i godzina zakończenia</h5> <br />
    <input type="datetime-local" id="eventsend" name="eventend"/> <br />
    <input type="submit" value="Dodaj" id="add-button" />
</form>
</body>
</html>